{% comment %}
  Renders loading-spinner.
  Accepts:
    - class: {string} css classes to replace the default ones (optional)

  Usage:
  {% render 'loading-spinner' %}
{% endcomment %}

<div 
  x-data="{ loading: false }" 
  x-show="loading" 
  x-transition
  class="fixed inset-0 bg-white bg-opacity-70 flex items-center justify-center z-50"
  style="backdrop-filter: blur(4px); -webkit-backdrop-filter: blur(4px);"
>
  <div class="animate-spin w-12 h-12 text-gray-700">
    {{ 'loading-spinner.svg' | inline_asset_content }}
  </div>
</div>

