<div class="h-full flex items-center justify-center py-12 px-6 md:px-4 lg:px-8" x-data="{
    password: '',
    password_confirmation: '',
    showPassword: false,
    get canSubmit() {
        return this.password.length > 0 
            && this.password === this.password_confirmation;
    }
}">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-center text-3xl font-bold mt-6">Reset your password</h1>
        </div>
        <div class="mt-8">
            {% form 'reset_customer_password' %}
                {% if form.errors %}
                    <div class="relative border border-red-400 bg-red-100 text-red-700 px-4 py-3" role="alert">
                        <strong class="font-bold">Error!</strong>
                        <p class="block sm:inline">{{ form.errors | default_errors }}</p>
                    </div>
                {% endif %}

                <div class="relative my-2">
                    <label for="password" class="sr-only">Password</label>
                    <input 
                        :type="showPassword ? 'text' : 'password'"
                        name="customer[password]"
                        id="password"
                        autocomplete="new-password"
                        placeholder="Password"
                        class="relative block w-full px-3 py-2 border"
                        x-model="password"
                    >
                    <button 
                        type="button" 
                        @click="showPassword = !showPassword" 
                        class="absolute right-2 top-2 text-gray-600 hover:text-gray-900 select-none"
                        tabindex="-1"
                    >
                        <span x-text="showPassword ? 'Hide' : 'Show'"></span>
                    </button>
                </div>

                <div class="relative my-2">
                    <label for="password_confirmation" class="sr-only">Password Confirmation</label>
                    <input 
                        :type="showPassword ? 'text' : 'password'"
                        name="customer[password_confirmation]"
                        id="password_confirmation"
                        autocomplete="new-password"
                        placeholder="Confirm your password"
                        class="relative block w-full px-3 py-2 border"
                        x-model="password_confirmation"
                    >
                </div>

                <div>
                    <button 
                        type="submit" 
                        class="relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-900 disabled:opacity-50"
                        :disabled="!canSubmit"
                    >
                        Reset password
                    </button>
                </div>
            {% endform %}
        </div>
    </div>
</div>
