<div class="flex flex-col items-center my-8" x-data="{ showContent: true }">
  <h1 class="text-3xl font-medium my-8 md:my-16">{{ page.title }}</h1>

  <button
    @click="showContent = !showContent"
    class="mb-4 px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-900 transition"
  >
    <span x-text="showContent ? 'Сховати вміст' : 'Показати вміст'"></span>
  </button>

  <div class="max-w-6xl mx-auto px-4" x-show="showContent" x-transition>
    {{ page.content }}
  </div>
</div>
